nav{
  border: none;
  box-shadow: none;
.nav-wrapper{
  .brand-logo{
    height: 100%;
  }
  svg{
    width: 100%;
    height: 40%;
  }

.push-left{
  margin-right: 10.3rem;
  li{
    a{
      width: 100%;
      height: 100%;
      font-size: 1.3rem;
      padding: 0rem 2.5rem;
    }
  }
  li:hover{
    background-color: #0d47a1;
  }
}
}
.material-icons{
  font-size: 2.5rem !important;
}
}
#mobile-demo{
  li{
    a{
      width: 100%;
      height: 100%;
      font-size: 1.3rem;
      padding: 1.3rem 0rem;
    }
  }
  li:hover{
    background-color: #0d47a1;
  }}
#backgroundImg{
  position: absolute;
  width: 100%;
  height: 100%;
}
.image-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
.name{
  opacity: 0;
}

#download-source{
  margin-top: 30px;
  background-color: #1D2252 !important;
}
.input-field label {
  color: #000000;
}
.input-field input[type="text"]:focus + label,
.input-field input[type="email"]:focus + label,
.input-field textarea:focus + label {
  color: #0d47a1 !important;
}
.input-field input[type="text"]:focus,
.input-field input[type="email"]:focus,
.input-field textarea:focus {
  border-bottom: 1px solid #0d47a1 !important;
  box-shadow: 0 1px 0 0 #0d47a1 !important;
}
.fullLength {
  width: 100%;
}
footer a{
  margin-left: 15px;
  width: 22.5px;
  height: 22.5px;
}
.github {
  width: 100%;
  height: 100%;
}
.linkedin {
  width: 100%;
  height: 100%;
}
.view-source-code {
  display: inline-block;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" fill="%231e88e5"><path d="M278.9 511.5l-61-17.7c-6.4-1.8-10-8.5-8.2-14.9L346.2 8.7c1.8-6.4 8.5-10 14.9-8.2l61 17.7c6.4 1.8 10 8.5 8.2 14.9L293.8 503.3c-1.9 6.4-8.5 10.1-14.9 8.2zm-114-112.2l43.5-46.4c4.6-4.9 4.3-12.7-.8-17.2L117 256l90.6-79.7c5.1-4.5 5.5-12.3.8-17.2l-43.5-46.4c-4.5-4.8-12.1-5.1-17-.5L3.8 247.2c-5.1 4.7-5.1 12.8 0 17.5l144.1 135.1c4.9 4.6 12.5 4.4 17-.5zm327.2.6l144.1-135.1c5.1-4.7 5.1-12.8 0-17.5L492.1 112.1c-4.8-4.5-12.4-4.3-17 .5L431.6 159c-4.6 4.9-4.3 12.7.8 17.2L523 256l-90.6 79.7c-5.1 4.5-5.5 12.3-.8 17.2l43.5 46.4c4.5 4.9 12.1 5.1 17 .6z"/></svg>') !important;
  background-repeat: no-repeat;
  background-position: center center;
  width: 21px;
  height: 21px;
}
.view-project {
  position: absolute;
  display: inline-block;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" fill="%231e88e5"><path d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z"/></svg>') !important;
  background-repeat: no-repeat;
  background-position: center center;
  right: 0;
  width: 21px;
  height: 21px;
}
.red-star{
  color: #f44336;
}
li .active{
  background-color: #0d47a1;
}
#home {
  height: 100vh;
  .right-moved-icons{
  margin-top: 30px;  
  margin-left: 15px;
  margin-right: 11px;
  width: 37px;
  height: 37px;
}}
#projects{
  height: 100vh;
}
#contact{
  height: 100vh;
}